
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Golden Bakery Shop
    link(href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="styles.css")
  body.bg-black.text-white
    div(class="container mx-auto  sm:px-6 lg:px-8")
      header.absolute.inset-x-0.top-0.z-50
        nav.flex.items-center.justify-between.p-6(class="lg#{'px-8'}" aria-label="Global")
          .mt-10.flex.items-center.justify-center.gap-x-6
            a(href="/iniciar" class="rounded-md bg-yellow-400 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-yellow-500") Iniciar Sesión
          .mt-10.flex.items-center.justify-center.gap-x-6
            a(href="/sobreNosotros" class="rounded-md bg-yellow-400 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-yellow-500") Sobre Nosotros
            a(href="/contacto" class="rounded-md bg-yellow-400 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-yellow-500") Contacto
    div(class="container mx-auto px-4 sm:px-6 lg:px-8")
      div(class="container mx-auto px-4 sm:px-6 lg:px-8 text-center")
        h1(class="text-6xl font-bold tracking-tight text-dark-gold #{'sm:text-6xl'} font-playfair") Deliciosos Sabores Caseros
        p.mt-6.text-lg.leading-8.text-dark-gold.font-playfair Descubre la variedad de nuestros productos artesanales, hechos con amor y dedicación.
        div(class="mt-6 container mx-auto px-4 sm:px-6 lg:px-8")
          a(href="/productos" class=" rounded-md bg-yellow-400 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-yellow-500") Explorar Productos
    .fixed.inset-x-0.bottom-0.flex.justify-around.items-end.pb-4.z-50    
        div(class="container mx-auto px-4 sm:px-6 lg:px-8")
          img(src="golden-logo4-2.png" alt="Logo de Golden Bakery Shop" class="h-100 w-auto mx-auto")
        div(class="container mx-auto px-4 sm:px-6 lg:px-8")
            img(src="GOLDEN_logo.jpg" alt="Logo de Golden Bakery Shop" class="h-122 w-auto")
        div(class="container mx-auto px-4 sm:px-6 lg:px-8")
          img(src="golden-logo4-2copia.png" alt="Logo de Golden Bakery Shop" class="h-100 w-auto mx-auto")
    
  
