doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Productos - Golden Bakery Shop
    link(href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="styles.css")

  body(class="bg-black text-dark-gold")
    .container.mx-auto.px-6.py-12
      h1.text-8xl.font-bold.text-center.mb-12.font-playfair.text-dark-gold Nuestra Carta
      .grid(class="grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8")
        // Producto 1
        .text-center
          img(src="GoldenCheesecake.png" alt="Golden Cheesecake" class="mx-auto")
          h2.text-xl.mt-2.font-playfair Golden Cheesecake
          p.text-lg.font-playfair 45,00 €
        // Producto 2
        .text-center
          img(src="BrownieOreo.png" alt="Brownie Oreo" class="mx-auto")
          h2.text-xl.mt-2.font-playfair Brownie Oreo
          p.text-lg.font-playfair 3,30 €
        // Producto 3
        .text-center
          img(src="CookieAll-Black.png" alt="Cookie All-Black" class="mx-auto")
          h2.text-xl.mt-2.font-playfair Cookie All-Black
          p.text-lg.font-playfair 2,80 €
        // Producto 4
        .text-center
          img(src="CookieChocolateTostadasNueces.png" alt="Cookie Chocolate & Tostadas Nueces" class="mx-auto")
          h2.text-xl.mt-2.font-playfair Cookie Chocolate & Nueces Tostadas
          p.text-lg.font-playfair 2,80 €
        // Producto 5
        .text-center
          img(src="MadeleineOriginal.png" alt="Madeleine Original" class="mx-auto")
          h2.text-xl.mt-2.font-playfair Madeleine Original
          p.text-lg.font-playfair 0,95 €

    #logoGolden.fix.inset-x-0.bottom-0.flex.justify-center.items-end.pb-4
      img(src="GOLDEN_logo.jpg" alt="Logo de Golden Bakery Shop" class="h-24 w-auto")

    .mt-10.flex.items-center.justify-center.gap-x-6
      a(href="/" class="rounded-md bg-yellow-400 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-yellow-500") Pagina Principal




