<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Golden Bakery Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto px-6 py-12">
        <h1 class="text-4xl font-bold text-center mb-12">Nuestra Carta</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Producto 1 -->
            <div class="text-center">
                <img src="GoldenCheesecake.png" alt="Golden Cheesecake" class="mx-auto">
                <h2 class="text-xl mt-2">Golden Cheesecake</h2>
                <p class="text-lg">45,00 €</p>
            </div>
            <!-- Producto 2 -->
            <div class="text-center">
                <img src="BrownieOreo.png" alt="Brownie Oreo" class="mx-auto">
                <h2 class="text-xl mt-2">Brownie Oreo</h2>
                <p class="text-lg">3,30 €</p>
            </div>
            <!-- Producto 3 -->
            <div class="text-center">
                <img src="CookieAll-Black.png" alt="Cookie All-Black" class="mx-auto">
                <h2 class="text-xl mt-2">Cookie All-Black</h2>
                <p class="text-lg">2,80 €</p>
            </div>
            <!-- Producto 4 -->
            <div class="text-center">
                <img src="CookieChocolateTostadasNueces.png" alt="Cookie Chocolate & TostadasNueces " class="mx-auto">
                <h2 class="text-xl mt-2">Cookie Chocolate & Nueces Tostadas</h2>
                <p class="text-lg">2,80 €</p>
            </div>
            <!-- Producto 5 -->
            <div class="text-center">
                <img src="MadeleineOriginal.png" alt="Madeleine Original" class="mx-auto">
                <h2 class="text-xl mt-2">Madeleine Original</h2>
                <p class="text-lg">0,95 €</p>
            </div>
        </div>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
    <a href="/" class="text-sm font-semibold leading-6 text-gray-900">Pagina Principal</a>
    </div>
</body>

</html>


