<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvidé mi contraseña - Golden Bakery Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">

</head>
<body class="bg-black flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <div class="bg-white p-8 rounded shadow-md w-full max-w-lg mt-14"> <!-- Añadí mt-12 para agregar margen superior -->
            <h2 class="text-4xl font-bold mb-4  text-center font-playfair text-dark-gold">Olvidé mi contraseña</h2>
        </div>
        <form action="/reset-password" method="POST">
            <div class="mb-6 pt-6">
                <label for="email" class="block text-sm font-semibold mb-2 font-playfair">Correo Electrónico</label>
                <input type="email" id="email" name="email" required class="border-4 px-4 py-2 w-full rounded" placeholder="Introduce tu correo electrónico">
            </div>
            <div class="mb-6">
                <button type="submit" class="rounded-md bg-yellow-400 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-yellow-500">Enviar enlace de restablecimiento</button>
            </div>
            <div class="text-center">
                <a href="/iniciar" class="text-sm text-indigo-600 hover:underline">Volver al inicio de sesión</a>
            </div>
            <div id="logoGolden" class="flex justify-center items-end pb-4 mt-6">
                <img src="GOLDEN_logo.jpg" alt="Logo de Golden Bakery Shop" class="h-16 w-auto">
            </div>
        </form>

    </div>
</body>
</html>
