<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - Golden Bakery Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-white text-gray-900">
    <div class="container mx-auto px-6 py-12">
        <h1 class="text-4xl font-bold text-center mb-6">¡Bienvenidos a nuestro paraíso de sabores!</h1>
        <p class="text-lg mb-6">Adéntrate en nuestro fascinante universo de sabores con nuestras tartas de queso artesanas, cuidadosamente elaboradas a diario para garantizar la frescura y la excelencia en cada bocado. En nuestro negocio, consideramos cada tarta de queso como una obra maestra única, fruto de una búsqueda constante de la textura ideal, el equilibrio perfecto y, sobre todo, el inconfundible sabor a queso que nos caracteriza.</p>
        <p class="text-lg mb-6">La magia de nuestra repostería radica en la dedicación artesanal que ponemos en cada detalle. Cada tarta es un testimonio de nuestro compromiso con la calidad, utilizando ingredientes premium para lograr un deleite auténtico. Desde las primeras luces del día, nuestro horno se enciende para dar vida a estas creaciones irresistibles que se convierten en la joya culinaria de nuestro negocio.</p>
        <p class="text-lg mb-6">Te invitamos a disfrutar de momentos deliciosamente inolvidables con nosotros. Desde la primera mirada al irresistible escaparate hasta el último bocado de nuestras delicias, sumérgete en la experiencia única. ¡Bienvenido a un mundo donde cada tarta cuenta su propia historia de sabor y dedicación!</p>
        
        <!-- Aquí puedes colocar tu logo o cualquier otra imagen relevante para la sección Sobre Nosotros -->
        <div class="flex justify-center">
            <img src="GOLDEN_logo.jpg" alt="Logo de Golden Bakery Shop" class="h-24 w-auto">
        </div>
    </div>
    <div class="mt-10 flex items-center justify-center gap-x-6">
         <a href="/" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500">Pagina Principal</a>
    </div>
</body>

</html>
